/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    font-size: 1rem;
}

.header {
    background-image: url('../img/banner.jfif');
    min-height: 6em;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.logo {
    height: 100px;
}
.nav__list {
    display: flex;
    gap: 2em;
}
.nav__link {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    transition: color 0.3s ease;
}
.nav__link:hover {
    color: var(--accent);
}
ul {
    list-style: none;    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
    color: var(--accent);
}
main {
    padding: 1em;
    background-color: var(--background);

}
.box__principal {
    background-image: url('../img/banner.jfif');
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.box__grande {
    background-color: black;
    color: white;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;

}
.box__chico {
    background-color: var(--background);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.icono {
    height: 2em;
    width: 2em;
    align-items: center;
}
/********** PALETA DE COLORES ***********/
:root {
    --primary: #00D2FF; /*Cian Neón*/
    --secondary: #2B3545; /*Gris Metálico*/
    --accent: #ff00d4b2; /*Fucsia Neón*/
    --background: #081426; /*Azul Oscuro*/
}