/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    font-size: 1rem;
}

.header {
    background-color: #333;
    min-height: 6em;
    display: flex;
    align-items: center;
}

.logo {
    max-height: 6em;
}
.nav__list {
    display: flex;
    gap: 2em;
}
ul {
    list-style: none;
}
main {
    padding: 1em;

}
.box__principal {
    background-color:blanchedalmond;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.box__grande {
    background-color: #f0f0f0;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;

}
.box__chico {
    background-color: #e0e0e0;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}